<head>
    <title> {{ .Title }} </title>
    {{ $sass := resources.Get "sass/main.scss" }}
    {{ $style := $sass | resources.ToCSS | minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
    <!-- Mobile-friendly stuff that I don't understand !-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Syntax highlighting !-->
    <link href="/css/syntax.css" rel="stylesheet">
    <!-- Fonts !-->
    <link href="https://fonts.googleapis.com/css?family=Lora|Merriweather&display=swap" rel="stylesheet">
</head>
