<h3 class="links">
    <span class="separator-accent">[</span>
    <a href="/about"> about me </a>
    <span class="separator-accent">]</span>
    {{ if .Site.Params.Twitter }}
    <a href="{{ .Site.Params.Twitter }}"> twitter </a>
        <span class="separator-accent">/</span>
    {{ end }}
    {{ if .Site.Params.Github }}
    <a href="{{ .Site.Params.Github }}"> github </a>
        <span class="separator-accent">/</span>
    {{ end }} 
    <a href="{{ .Site.Params.Keybase }}"> keybase </a>
        <span class="separator-accent">/</span>
    {{ if .Site.Params.Linkedin }}
        <a href="{{ .Site.Params.Linkedin }}"> linkedin </a>
    {{ end }}
</h3>
